*{
    margin: 0px;
    padding: 0px;
    /*outline: 1px solid green;*/

}
body {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: -webkit-xxx-large;
}
.img-container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: 10px;
}
img {
    width: 240px;
    height: 300px;
    border: 2px solid black;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);

}